<% layout("./layouts/boilerplate.ejs")-%><body>
    <h3>Create a new Listing</h3>
    <form action="/listings" method="post">
       <input type="text" name="listing[title]" placeholder="Enter title" required>
       <br><br>
       <textarea name="listing[description]" placeholder="Enter Description" required></textarea>
       <br><br>
       <input type="text" name="listing[img]" placeholder="Enter image URL/Link" >
        <br><br>
       <input type="number" name="listing[price]" placeholder="Enter Price" required>
       <br><br>
       <input type="text" name="listing[country]" placeholder="Enter country" required>
       <br><br>
       <input type="text" name="listing[location]" placeholder="Enter location" required>
        <button>Submit</button>
    </form>
</body>